<div class="header">
  <a href="/">
    <img src="/assets/clouddroplogo.png" alt="" class="logo" />
    <h1>Cloud<span class="d-text">Drop</span></h1>
  </a>
  <% if (!user) { %>
  <a href="/login" class="login-btn">
    <button>Login</button>
  </a>
  <a href="/register" class="register-btn">
    <button>Sign Up</button>
  </a>
  <% }else{ %>
  <a href="logout" class="logout-btn">
    <button>Logout</button>
  </a>
  <% } %>
</div>
