@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --red: #f2003c;
  --black: #030712;
  --white: #ffffff;
  --blue: #2563eb;
  --gray1: #f9fafb;
  --gray2: #f3f4f6;
}

* {
  font-family: "Poppins", serif;
  color: var(--black);
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--white);
  display: grid;
}

/* Header */
.header {
  display: flex;
  background-color: var(--gray2);
  align-items: center;
  padding: 0.25em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.header a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header img {
  width: 60px;
  height: 60px;
}

.header h1 {
  font-weight: 600;
  /* text-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
  display: inline-block;
  position: relative;
  transition: all 0.2s ease-in;
  text-shadow: 1px -1px 3px rgba(0, 0, 0, 0.56);
}

.header a:hover h1 {
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.56);
}

.header h1 .d-text {
  color: #50cbff;
  font-weight: 500 !important;
}

.header button {
  background-color: var(--blue);
  color: var(--white);
  border: 3.5px solid var(--blue);
  padding: 10px 27px 10px 27px;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
  font-size: 1em;
  cursor: pointer;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  box-shadow: 0 8px 24px 0 rgba(109, 84, 181, 0.3);
}

.header .login-btn {
  margin-left: auto;
}

.header .login-btn:hover button {
  background-color: var(--white);
  color: var(--blue);
}

.header .register-btn {
  margin-left: 1em;
}

.header .register-btn:hover button {
  background-color: #3b73ed;
}

.header .logout-btn {
  margin-left: auto;
}

.header .logout-btn button {
  border: none;
}

.header .logout-btn:hover button {
  background-color: var(--red);
}

.err-msg {
  margin: 0;
  color: var(--red);
  font-size: 0.85em;
  margin-top: -0.7em;
}

/* Register Form */
.register-form {
  background-color: var(--gray2);
  width: 30vw;
  justify-self: center;
  margin-top: 5vh;
  padding: 2em;
  border-radius: 7px;
  /* box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px; */
  box-shadow: 0 8px 24px 0 rgba(44, 38, 56, 0.5);

  display: flex;
  flex-direction: column;
  gap: 2.5em;
}

.register-form h1 {
  font-weight: 400;
}

.register-form .inputs {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

/* From Uiverse.io by DaniloMGutavo */
.checkbox-container {
  /* display: inline-block; */
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
}

.custom-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 4px;
  transition: background-color 0.3s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 9px;
  top: 5px;
  width: 5px;
  height: 7px;
  border: solid var(--gray2);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.custom-checkbox:checked ~ .checkmark {
  background-color: var(--blue);
  box-shadow: 0 3px 7px rgba(44, 38, 56, 0.3);
}

.custom-checkbox:checked ~ .checkmark:after {
  display: block;
}

@keyframes checkAnim {
  0% {
    height: 0;
  }

  100% {
    height: 10px;
  }
}

.custom-checkbox:checked ~ .checkmark:after {
  animation: checkAnim 0.2s forwards;
}

.register-form a {
  color: #3b73ed;
  font-weight: 400;
}

.register-form p,
.register-form label {
  font-weight: 200;
}

.register-form .inputs input {
  background-color: var(--gray1);
  border: 1px solid var(--gray1);
  border-radius: 7px;
  padding: 10px;
  transition: all 0.15s ease-in;
}

.register-form .inputs input:focus,
.register-form .inputs input:hover {
  border: 1px solid #5182ef;
  outline: none;
}

.register-form .inputs input:focus {
  box-shadow: 0 8px 24px 0 rgba(104, 98, 121, 0.2);
}

.register-form .inputs input::placeholder {
  color: var(--black);
  opacity: 0.6;
  font-weight: 200;
}

.register-form button {
  background-color: var(--blue);
  color: var(--white);
  border: none;
  padding: 12px 7px 12px 7px;
  border-radius: 7px;
  cursor: pointer;
  letter-spacing: 1px;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 8px 24px 0 rgba(109, 84, 181, 0.3);
}

.register-form button:hover {
  background-color: #3b73ed;
}

/* Login Form */
.login-form {
  background-color: var(--gray2);
  width: 30vw;
  justify-self: center;
  margin-top: 5vh;
  padding: 2em;
  border-radius: 7px;
  /* box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px; */
  box-shadow: 0 8px 24px 0 rgba(44, 38, 56, 0.5);

  display: flex;
  flex-direction: column;
  gap: 2.5em;
}

.login-form h1 {
  font-weight: 400;
}

.login-form .inputs {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.login-form a {
  color: #5182ef;
  font-weight: 400;
}

.login-form p,
.login-form label {
  font-weight: 200;
}

.login-form .inputs input {
  background-color: var(--gray1);
  border: 1px solid var(--gray1);
  border-radius: 7px;
  padding: 10px;
  transition: all 0.15s ease-in;
}

.login-form .inputs input:focus,
.login-form .inputs input:hover {
  border: 1px solid #5182ef;
  outline: none;
}

.login-form .inputs input:focus {
  box-shadow: 0 8px 24px 0 rgba(104, 98, 121, 0.2);
}

.login-form .inputs input::placeholder {
  color: var(--black);
  opacity: 0.6;
  font-weight: 200;
}

.login-form button {
  background-color: var(--blue);
  color: var(--white);
  border: none;
  padding: 12px 7px 12px 7px;
  border-radius: 7px;
  cursor: pointer;
  letter-spacing: 1px;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 8px 24px 0 rgba(109, 84, 181, 0.3);
}

.login-form button:hover {
  background-color: #3b73ed;
}

/* My Library Page  */
.library-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5em;
}

.library-header h1 {
  display: flex;
  align-items: center;
  gap: 0.3em;
}

.library-header a button {
  background-color: var(--white);
  color: var(--blue);
  border: 2px solid var(--blue);
  padding: 10px 27px 10px 27px;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
  font-size: 1em;
  cursor: pointer;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  /* box-shadow: 0 8px 24px 0 rgba(109, 84, 181, 0.3); */
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  will-change: transform;

  display: flex;
  align-items: center;
  gap: 1em;
}

.library-header a button svg {
  stroke: var(--blue);
  transition: all 0.2s ease-in-out;
}

.library-header a {
  text-decoration: none;
}

.library-header a:hover button {
  transform: scale(1.05);
}

.library-header a:active button {
  transform: scale(0.975);
}

.folders-list {
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  /* margin: 1em; */
  padding: 1em;
  border-radius: 7px;
}

.folders-list tr {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-between;
}

.folders-list .headers {
  padding-bottom: 0.5em;
  border-bottom: 1px solid rgba(3, 7, 18, 0.4);
}

.folders-list .table-row {
  padding: 0.6em;
  border-bottom: 1px solid rgb(209, 213, 219);
  border-radius: 7px;
  cursor: pointer;
}

.folders-list .table-row:hover {
  background-color: rgba(243, 244, 246, 1);
}

.folders-list .table-row:nth-of-type(2) {
  margin-top: 1em;
}

.folders-list .headers th:nth-of-type(1) {
  text-align: center;
  justify-content: center;
}

.folders-list th:nth-of-type(2) {
  grid-column: 3/4;
}

.folders-list th {
  display: flex;
  align-items: center;
  text-align: center;
}

.folders-list .table-row th:nth-of-type(1) a {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 0.3em;
  padding-left: 25%;
}

.folders-list .table-row th:nth-of-type(4) {
  text-align: end;
  padding-right: 4em;
  cursor: pointer;
}

.folders-list .table-row th .options-btn {
  border-radius: 50%;
  padding: 0.5em;
  transition: all 0.1s ease-in;
}

.folders-list .table-row th .options-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.folders-list .table-row th .options-btn:active {
  transform: scale(0.95);
}

.create-folder {
  background-color: var(--gray2);
  box-shadow: 0 8px 24px 0 rgba(44, 38, 56, 0.5);
  border: none;
  border-radius: 7px;
  width: 20vw;
}

.create-folder form {
  padding: 2em;
  border-radius: 7px;
  /* box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px; */

  display: flex;
  flex-direction: column;
  gap: 1em;
}

.create-folder form .btns {
  display: flex;
  gap: 1em;
}

.create-folder form input {
  background-color: var(--gray1);
  border: 1px solid var(--gray1);
  border-radius: 7px;
  padding: 10px;
  transition: all 0.15s ease-in;
}

.create-folder form input:focus,
.create-folder form input:hover {
  border: 1px solid #5182ef;
  outline: none;
}

.create-folder form input:focus {
  box-shadow: 0 8px 24px 0 rgba(104, 98, 121, 0.2);
}

.create-folder form input::placeholder {
  color: var(--black);
  opacity: 0.6;
  font-weight: 200;
}

.create-folder form button {
  background-color: var(--blue);
  color: var(--white);
  border: none;
  padding: 12px 7px 12px 7px;
  border-radius: 7px;
  cursor: pointer;
  letter-spacing: 1px;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 8px 24px 0 rgba(109, 84, 181, 0.3);
  flex-grow: 1;
}

.create-folder form button:hover {
  background-color: #3b73ed;
}

/* Dropdown Menu Styles */
.dropdown-menu {
  display: none; /* Hide by default */
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  /* right: 0; */
  top: 50px;
  border-radius: 4px;
  width: 120px;
}

.dropdown-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 10px 0;
}

.dropdown-menu li a {
  text-decoration: none;
  font-weight: 400;
  color: black;
  width: 100%;
  display: block;
  padding: 10px 0;
  text-align: center;
  transition: all 0.1s ease-in;
}

.dropdown-menu li a:hover {
  background-color: #f1f1f1;
}

.dropdown-menu li a.delete-btn:hover {
  background-color: rgba(242, 0, 60, 0.15);
}

/* Positioning the options button */
.table-row {
  position: relative;
}

/* Option button hover effect */
.options-btn:hover {
  cursor: pointer;
}
